html {
	
	
}

#bigPicture {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1280px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  
  z-index: -2;
  
}

@media screen and (max-width: 1280px) { /* Specific to this particular image */
  #bigPicture {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

#allKeys {
	
	width:100%;
	
}

#keyContainer1 {
	
	display: flex;
	justify-content: space-between;
	width:90%;
	margin:11% 0 5% 0;
	
}


	
}

#hats {
	
	top:225px;
	width:475px;
}

#hatsText {
	
	position:absolute;
	left: 200px;
	top:20px;
	
}

#cymbals {
	
	top:225px;
	left:499px;
	width:716px;
	
}

#cymbalsText {
	
	position:absolute;
	left: 355px;
	top:20px;
	
}


#keyContainer2 {
	
	display: flex;
	justify-content: space-between;
	width:80%;
	margin-left:5%;
	margin-bottom:5%;
	
}

#keyContainer3 {
	
	display: flex;
	justify-content: space-between;
	width:70%;
	margin-left:9%;
	
}

.key {
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e0e0e+98,7d7e7d+100&1+0,0.47+100 */
	background: -moz-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%, rgba(14,14,14,0.48) 98%, rgba(125,126,125,0.47) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%,rgba(14,14,14,0.48) 98%,rgba(125,126,125,0.47) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(14,14,14,1) 0%,rgba(14,14,14,0.48) 98%,rgba(125,126,125,0.47) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#787d7e7d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	width:80px;
	height:80px;
	display:inline-block;
	margin: auto;	
	box-shadow: 0px -2px 2px rgba(34,34,34,0.6);
	border-radius:5px;
	color:#C5BCAC;
	padding-left: 1%;
	transition:0.07s;
	font-size:150%;
	font-weight:bold;
	text-shadow:1px 1px black;
	font-family: 'Archivo Black', sans-serif;
	
	
}

.playing {
	
	transform:scale(1.1);
	border-color:#FFC600;
	box-shadow: 0 0 10px #FFC600;
	
}

.key:hover {
	
	opacity:0.9 !important;
	
}



.sound {
	
	font-family: 'IBM Plex Mono', monospace;
	font-weight:lighter;
	font-size:60% !important;
	color:#FFC400;
	position:relative;
	top:50%;

}